* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    border: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


body {
    background-image: url("fiore.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
/* #6ec7c3 */

.main_container {
    display: table;
    width: 1200px;
    margin: 100px auto;
}

.calendar_section { 
    float: left;
    background-color: #fff;
    width: 900px;
    height: 750px;
    padding: 50px;
}

.calendar_section_header {
    padding: 50px 20px;
    letter-spacing: 2px;
}

.calendar_section_header_year {
  margin-bottom: 10px;
}

.calendar_section_header_month {
    color: #6ec7c3;
}

/* .calendar_section_body {
 
} */

/* Weekdays (Mon-Sun) */

ul.weekdays {
    padding: 10px 0;
    width: 100%;
    display: block;
}

.weekdays li {
    width: 14.28%;
    float: left;
    text-align: center;
}


/* Days (1-31) */


.days {
    padding: 10px 0;
}

.days li {
    width: 14.28%;
    float: left;
    height: 100px;

}

.days li span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    line-height: 25px;
    margin: auto;
    text-align: center;
    
    /* Highlight the "current" day */

}

.days li.active span {
    background-color: #6ec7c3;
color: #fff;
}


/* Second section of the calendar */


.day_section {
    float: left;
    background-color: #6ec7c3;
}

.day_section_header {
    padding: 50px 20px;
    color: #fff;
    width: 300px;
    height: 750px;
}

.day_section_header_day {
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.day_section_header_activities {
    display: table;
    width: 100%;

}

.time {
    float: left;
    margin-bottom: 20px;
}

.activity {
    float: right;
}